.card-list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .title-cards {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .title-cards h2 {
    font-size: 15px;
  }
  .card-list img {
    width: 200px;
  }
  .card-list p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
 
  .title-cards h2 {
    font-size: 12px;
  }
  .card-list img {
    width: 165px;
  }
  .card-list p {
    font-size: 10px;
  }
}

