@media (max-width: 1024px) {
  .hero-title-card {
    display: none;
  }
  .hero-btn {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .hero-caption {
    padding-left: 4%;
  }
  .caption-img {
    margin-bottom: 10px;
    width: 40%;
  }
  .caption-text {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .btn-img {
    width: 20px;
  }
  .more-cards {
    padding-left: 4%;
  }
}

@media (max-width: 500px) {
  .caption-img {
    display: none;
  }
  .btn-img {
    width: 15px;
  }
  .btn {
    padding: 4px 10px;
    gap: 5px;
    font-size: 10px;
  }
}
