.navbar {
  padding: 20px 6%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.nav-dark {
  background: #141414;
}

@media (max-width: 800px) {
  .navbar {
    padding: 20px 4%;
  }
  .ul-left {
    display: none;
  }
  .nav-logo{
    font-size: 28px;
  }
}



@media (max-width: 500px) {
  .nav-logo{
    font-size: 20px;
  }
  .menu-left{
    gap: 10px;
  }
}